.paixths{
	width: 70%;
}
.mpala{
	width: 70%;
}
.logo{
	width: 80%;
}
div{
	margin-bottom: 30pt;
}
.mycard{
	background-color: black;
}
li{
	color: white;
}
h5{
	color:white;
}
.vid1{
	border: 5px solid black;
}